@using PowerPipes.Models
@model List<TrainingHeader>

@section Styles {
    <link href="@Url.Content("~/Content/Training.css")" rel="stylesheet" type="text/css" />
}

<div class="jumbotron">
    <h2>
        <span class="title">Liste de vos entraînements</span>
        <button type="button" id="btnCreate" class="btn btn-primary pull-right">Créer un nouvel entraînement</button>
    </h2>

    @foreach (var training in Model)
    {
        <div class="divTraining" onclick="window.location.href = '@Url.Action("Details", "Training", new { idTraining =  @Html.ValueFor(x => training.Id) })'">
            <div class="col-sm-10 bold padding-top">
                @Html.DisplayFor(x => training.Name)
            </div>

            <div class="col-sm-2 italic right-align padding-top version">
                @Html.DisplayFor(x => training.Date)
            </div>

            <div class="overlay"></div>
        </div>
    }
</div>

<script>
    $("#btnCreate").click(function () {
        window.location.href = '@Url.Action("Create", "Training")';
    });
</script>