@using PowerPipes.Models
@model Dashboard

@section Styles {
    <link href="@Url.Content("~/Content/Dashboard.css")" rel="stylesheet" type="text/css" />
}

<div class="jumbotron">
    <h2> <span class="title">Dashboard</span> </h2>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Best Competition Squat</th>
                <th scope="col">Best Competition Bench</th>
                <th scope="col">Best Competition Deadlift</th>
                <th scope="col">Best Training Squat</th>
                <th scope="col">Best Training Bench</th>
                <th scope="col">Best Training Deadlift</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @Html.DisplayFor(m => m.MaxCompetitionSquat) </td>
                <td> @Html.DisplayFor(m => m.MaxCompetitionBench) </td>
                <td> @Html.DisplayFor(m => m.MaxCompetitionDeadlift) </td>
                <td> @Html.DisplayFor(m => m.MaxTrainingSquat) </td>
                <td> @Html.DisplayFor(m => m.MaxTrainingBench) </td>
                <td> @Html.DisplayFor(m => m.MaxTrainingDeadlift) </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <div class="col-sm-6 bold padding-top">
        <div id="squat_progress_chart"></div>
    </div>

    <div class="col-sm-6 bold padding-top">
        <div id="bench_progress_chart"></div>
    </div>
</div>

<div>
    <div class="col-sm-6 bold padding-top">
        <div id="deadlift_progress_chart"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawSquatChart);
    google.charts.setOnLoadCallback(drawBenchChart);
    google.charts.setOnLoadCallback(drawDeadliftChart);

    function drawSquatChart() {

        var dataArray = [];
        dataArray.push(['Date', 'Poids']);

        var exercises = @Html.Raw(Json.Encode(Model.SquatProgression));

        if (Object.keys(exercises).length > 0) {
            exercises.forEach(function (exercise) {
                var date = new Date(parseInt(exercise['Date'].replace("/Date(", "").replace(")/", ""), 10))
                dataArray.push([date, exercise['Weight']]);
            });
        } else {
            dataArray.push([new Date(), 0]);
        }

        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
            title: 'Progression au Squat',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('squat_progress_chart'));

        chart.draw(data, options);
    }

    function drawBenchChart() {

        var dataArray = [];
        dataArray.push(['Date', 'Poids']);

        var exercises = @Html.Raw(Json.Encode(Model.BenchProgression));

        if (Object.keys(exercises).length > 0) {
            exercises.forEach(function (exercise) {
                var date = new Date(parseInt(exercise['Date'].replace("/Date(", "").replace(")/", ""), 10))
                dataArray.push([date, exercise['Weight']]);
            });
        } else {
            dataArray.push([new Date(), 0]);
        }

        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
            title: 'Progression au Bench',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('bench_progress_chart'));

        chart.draw(data, options);
    }

    function drawDeadliftChart() {

        var dataArray = [];
        dataArray.push(['Date', 'Poids']);

        var exercises = @Html.Raw(Json.Encode(Model.DeadliftProgression));
        if (Object.keys(exercises).length > 0) {
            exercises.forEach(function (exercise) {
                var date = new Date(parseInt(exercise['Date'].replace("/Date(", "").replace(")/", ""), 10))
                dataArray.push([date, exercise['Weight']]);
            });
        } else {
            dataArray.push([new Date(), 0]);
        }

        var data = google.visualization.arrayToDataTable(dataArray);

        var options = {
            title: 'Progression au Deadlift',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('deadlift_progress_chart'));

        chart.draw(data, options);
    }
</script>