@using PowerPipes.Models
@model List<Goal>

@section Styles {
	<link href="@Url.Content("~/Content/Goal.css")" rel="stylesheet" type="text/css" />
}

<div class="jumbotron">
	<h2>
		<span class="title">Liste de vos objectifs</span>
		<button type="button" id="btnCreate" class="btn btn-primary pull-right">Créer un nouvel objectif</button>
	</h2>

	@foreach (var goal in Model)
	{
		<div class="divGoal" onclick="window.location.href = '@Url.Action("Details", "Goal", new { idGoal =  @Html.ValueFor(x => goal.Id) })'">
			<div class="col-sm-10 bold padding-top">
				@Html.DisplayFor(x => goal.Name)
			</div>

			<div class="col-sm-2 italic right-align padding-top version">
				@Html.DisplayFor(x => goal.Date)
			</div>

			<div class="overlay"></div>
		</div>
	}
</div>

<script>
    $("#btnCreate").click(function () {
        window.location.href = '@Url.Action("Create", "Goal")';
    });
</script>