@using PowerPipes.Models
@model Profile

@section Styles {
    <link href="@Url.Content("~/Content/Profile.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="jumbotron">
    <div class="alert alert-success collapse" role="alert">
        Modifications enregistrées avec succès!
    </div>

    <h2>
        <span class="title">Profile</span>
    </h2>

    <form id="form">
        <div class="value row">
            <div class="col-xs-12 col-sm-3 col-md-2 sm-right-align bold">
                @Html.DisplayNameFor(m => m.UserName)
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
                @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="value row">
            <div class="col-xs-12 col-sm-3 col-md-2 sm-right-align bold">
                @Html.DisplayNameFor(m => m.Name)
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="value row">
            <div class="col-xs-12 col-sm-3 col-md-2 sm-right-align bold">
                @Html.DisplayNameFor(m => m.Age)
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10">
                @Html.EditorFor(m => m.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12" style="text-align:right;">
            <button type="button" id="btnSave" class="btn btn-primary">Sauvegarder</button>
        </div>
    </form>
</div>

<script>
    $("#btnSave").click(function () {
        if ($('#form').valid()) {
            var profile = {
                IdUser: @Html.Raw(Json.Encode(Model.IdUser)),
                UserName: $("#UserName").val(),
                Name: $("#Name").val(),
                Age: $("#Age").val()
            }

            CallController(
                "@Url.Action("Modify", "Profile")", profile).done(function (data) {
                window.scrollTo(0, 0);
                $('.alert').fadeToggle(1000).delay(1000).fadeToggle(1000);;
            });
        }
    });
</script>